---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
---


<BaseLayout pageTitle={pageTitle}>
  <h2>Welcome to My Astro Site!</h2>
  <p>This is the home page of my new Astro site. I'm excited to share my journey as I learn more about web development with Astro.</p>
  <p>Check out the <a href="/about/">About</a> page to learn more about me and what I'm working on!</p>
</BaseLayout>
